@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url("Images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
    z-index: 10;

}

nav img {
    color: red;
    width: 9.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    height: calc(100% - 62px);
    color: white;
    position: relative;
    display: flex;
    font-family: "Martel Sans", sans-serif;
    align-items: center;
    gap: 18px;
    justify-content: center;
    padding: 0 30px;
    flex-direction: column
}

.hero> :nth-child(1) {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 400px;
    text-align: center;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 400px;
    text-align: center;
    font-size: 24px;
}

.line {
    height: 5px;
    background-color: rgb(58, 57, 57);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    background-color: rgba(248, 243, 243, 0.021);

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main input {
    padding: 16px 105px 8px 14px;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);

}

.btn-red-sm {
    background-color: red;
    color: white;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}

.secImg {
    position: relative;
}

.secImg img {
    width: 641px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 122px;
    right: 42px;
    width: 516px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 13px;

}

.join h2 {
    text-align: left;
}

.join {
    background-color: black;
    color: white;
}